
.card {
	width:400px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 5;
    overflow: hidden;
    background-color: #1a1a2e !important;
    color: #ffffff !important;
}

.card:hover {
    color: #000000;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

body {
    font-family: 'Lato', sans-serif !important;
}

.btn-outline-custom-white {
    color: #e9b563 !important; 
    background-color: transparent;
    border: 1px solid #ffffff !important; 
    padding: 8px 16px;
    text-decoration: none; 
    transition: all 0.3s ease; 
}

.btn-outline-custom-white:hover {
    background-color: #ffffff !important; 
    color: #e9b563 !important; 
}

.btn-outline-custom-blue {
    color: #1a1a2e !important; 
    background-color: transparent;
    border: 1px solid #1a1a2e !important; 
    padding: 8px 16px;
    text-decoration: none; 
    transition: all 0.3s ease; 
}

.btn-outline-custom-blue:hover {
    background-color: #1a1a2e !important; 
    color: #e9b563 !important; 
}

h2{
	color: #1a1a2e !important
}

.bg-blue{
	background-color: #e9b563 !important;
}


